<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxx.gogo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.user.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.user.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.user.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.provider.SearchProviderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.provider.ProviderDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.goods.GoodsDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".view.order.OrderConfirmActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.order.OrderListActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.order.OrderDetailActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.user.UserInfoActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.shop_mgr.ShopManagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.about_us.AboutUsActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.me.SettingActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.user.ChangePasswordActivity" android:screenOrientation="portrait" />
        <activity android:name=".view.goods.GoodsItemDetailActivity" android:screenOrientation="portrait" />
    </application>

</manifest>